.main {
    text-align: center;
    display:flex;
    flex-direction:column;
    align-items: center;
}

#inputfield {
    width:50%;
    
}
button {
    width: 40px;
}

#answers{
    text-align:center;
}
 

.study-wrapper {
    display:flex;
    flex-direction:column;
}

.button-title{
    display:flex;
}
